<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>iandol.bookends-tools</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07A0668C-9537-4BA7-8D1F-2F10DF7C8949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>656E29E1-A513-44E5-8BB7-B1D97FC26D82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20DFCB80-8C35-46DB-97E3-B7A9D7C2C372</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9A9A0A3C-2C7F-4090-B509-E425513C003F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22024FC1-AB07-46D9-93B3-B4F25AE9AAF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B425771E-97B7-4360-9C1C-B9EADC167399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E915B82-E157-429F-8DC1-F4C4518AFBF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B425771E-97B7-4360-9C1C-B9EADC167399</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3582963E-329A-4FFD-933A-10C6950BC007</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE092458-F99E-459C-AFCE-73416F547908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>362D8958-5B18-4606-A04A-917C2E88A202</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>656E29E1-A513-44E5-8BB7-B1D97FC26D82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3861F91A-323B-484E-BAD2-FC5CC2A3A839</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A249976-4818-4EF5-96F1-61E2775BA9C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>39792D22-E411-4B39-95C6-8861A7E3ACA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731519D0-A085-43A8-9641-3696D9A5FFDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>42E1E519-7522-4BE7-987E-1A39E5A92C64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>911559DD-772D-466A-AC11-0B9A9A99B6F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A249976-4818-4EF5-96F1-61E2775BA9C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5390C3E-D89A-4E54-BFE3-36C24C54DF3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>39792D22-E411-4B39-95C6-8861A7E3ACA3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste MMD style citation [#Citation]</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52554828-2EFB-4F3D-8C65-0ED49CD7E2CD</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Paste Pandoc style citation [@Citation]</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52554828-2EFB-4F3D-8C65-0ED49CD7E2CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>731519D0-A085-43A8-9641-3696D9A5FFDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5262C5A9-E597-4A30-BDB9-79D9BE9EFD26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B14F1D3F-1FBF-4B85-87D0-9346F0BA1141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5690F7FD-CDD6-4AD6-B082-4C52C84C8847</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A143F1B-B4DB-4F22-9C72-4E840C2245A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61E1DD47-C893-46AC-9DF4-60EF7CE1B85B</key>
		<array/>
		<key>63E2A815-A08E-4E62-811D-C8F3D06D738B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE092458-F99E-459C-AFCE-73416F547908</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>656E29E1-A513-44E5-8BB7-B1D97FC26D82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8753A6A9-9785-4B60-BF1D-1D759BE79C1F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EABF7A78-1D69-46C2-84DC-200A4B715A40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A9A0A3C-2C7F-4090-B509-E425513C003F</key>
		<array/>
		<key>A58CE08D-D622-4B55-81C3-7D948E3CB220</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20DFCB80-8C35-46DB-97E3-B7A9D7C2C372</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A75B2A34-0C2C-411E-AA36-103E1ADE612F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61E1DD47-C893-46AC-9DF4-60EF7CE1B85B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>42E1E519-7522-4BE7-987E-1A39E5A92C64</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste MMD formatted bibliography</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B14F1D3F-1FBF-4B85-87D0-9346F0BA1141</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B186CBDB-0806-4D20-A198-2BB658E4883C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B14F1D3F-1FBF-4B85-87D0-9346F0BA1141</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B425771E-97B7-4360-9C1C-B9EADC167399</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5390C3E-D89A-4E54-BFE3-36C24C54DF3E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBB14C37-DC9A-447A-B292-D09CC96B8EAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9792099-269D-4DB6-8004-D464611EE841</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A75B2A34-0C2C-411E-AA36-103E1ADE612F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF797FDD-D3A9-4FE9-871E-7A5D2DA3153B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EABF7A78-1D69-46C2-84DC-200A4B715A40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E50B449E-6EF4-448F-A5B3-152FD1FCAF09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E977EE79-677D-4A9A-81F7-2925A1A9B442</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EABF7A78-1D69-46C2-84DC-200A4B715A40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE092458-F99E-459C-AFCE-73416F547908</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>iandol</string>
	<key>description</key>
	<string>Tools to Improve Bookends Workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bookends Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2E915B82-E157-429F-8DC1-F4C4518AFBF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript toOPML.applescript ${exportPath} $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B425771E-97B7-4360-9C1C-B9EADC167399</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>beidsearch</string>
				<key>subtext</key>
				<string>Search a selected Bookends reference number</string>
				<key>text</key>
				<string>Select unique ID ⇨ Open Bookends URI</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8753A6A9-9785-4B60-BF1D-1D759BE79C1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>betoopml</string>
				<key>subtext</key>
				<string>Make OPML from the BE selection</string>
				<key>text</key>
				<string>Bookends ⇨ OPML</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>22024FC1-AB07-46D9-93B3-B4F25AE9AAF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript openSelectedID.applescript</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EABF7A78-1D69-46C2-84DC-200A4B715A40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>32</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>U</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DF797FDD-D3A9-4FE9-871E-7A5D2DA3153B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9A9A0A3C-2C7F-4090-B509-E425513C003F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>bescopus</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Scopus API may take some time, please wait...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scopusSearch</string>
				<key>subtext</key>
				<string>Returns reference and cited-by links</string>
				<key>title</key>
				<string>Search a Selected Bookends Entry in Scopus</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>20DFCB80-8C35-46DB-97E3-B7A9D7C2C372</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>29</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>0</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A58CE08D-D622-4B55-81C3-7D948E3CB220</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07A0668C-9537-4BA7-8D1F-2F10DF7C8949</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B186CBDB-0806-4D20-A198-2BB658E4883C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript searchPubmed.applescript</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B14F1D3F-1FBF-4B85-87D0-9346F0BA1141</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>betobibtex</string>
				<key>subtext</key>
				<string>Enter BE group name(s) to export to BibTeX file, seperate multiple groups with comma</string>
				<key>text</key>
				<string>Bookends ⇨ BibTeX BIB file</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>362D8958-5B18-4606-A04A-917C2E88A202</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript toBibTeX.applescript ${exportPath} $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>656E29E1-A513-44E5-8BB7-B1D97FC26D82</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bebrowser</string>
				<key>subtext</key>
				<string>Search selected text in Bookends Browser</string>
				<key>text</key>
				<string>Selected Text ⇨ Bookends Browser Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5262C5A9-E597-4A30-BDB9-79D9BE9EFD26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>readonly remote_info_plist='https://raw.githubusercontent.com/iandol/bookends-tools/master/source/info.plist' # URL of remote info.plist
readonly workflow_url='https://raw.githubusercontent.com/iandol/bookends-tools/master/bookends-tools.alfredworkflow' # URL to directly download workflow or workflow download page
readonly workflow_type='workflow' # Either 'workflow' if workflow_url points to direct download, or 'page' if it points to download page
readonly frequency_check='4' # Days between update checks

# FROM HERE ON, CODE SHOULD BE LEFT UNTOUCHED UNLESS YOU KNOW WHAT YOU ARE DOING
function abort {
  echo "${1}" &gt;&amp;2
  exit 1
}

function url_exists {
  curl --silent --location --output /dev/null --fail --range 0-0 "${1}"
}

function notification {
  readonly local notificator="$(find . -type d -name 'Notificator.app')"
  if [[ -n "${notificator}" ]]; then
    "${notificator}/Contents/Resources/Scripts/notificator" --message "${1}" --title "${alfred_workflow_name}" --subtitle 'A new version is available'
    return
  fi

  readonly local terminal_notifier="$(find . -type f -name 'terminal-notifier')"
  if [[ -n "${terminal_notifier}" ]]; then
    "${terminal_notifier}" -title "${alfred_workflow_name}" -subtitle 'A new version is available' -message "${1}"
    return
  fi

  osascript -e "display notification \"${1}\" with title \"${alfred_workflow_name}\" subtitle \"A new version is available\""
}

# Local sanity checks
readonly local_info_plist='info.plist'
readonly local_version="$(/usr/libexec/PlistBuddy -c 'print version' "${local_info_plist}")"

[[ -n "${local_version}" ]] || abort 'You need to set a workflow version in the configuration sheet.'
[[ "${workflow_type}" =~ ^(workflow|page)$ ]] || abort "'workflow_type' (${workflow_type}) needs to be one of 'workflow' or 'page'."
[[ "${frequency_check}" =~ ^[0-9]+$ ]] || abort "'frequency_check' (${frequency_check}) needs to be a number."

# Check for updates
if [[ $(find "${local_info_plist}" -mtime +"${frequency_check}"d) ]]; then
  if ! url_exists "${remote_info_plist}"; then abort "'remote_info_plist' (${remote_info_plist}) appears to not be reachable."; fi # Remote sanity check

  readonly tmp_file="$(mktemp)"
  curl --silent --location --output "${tmp_file}" "${remote_info_plist}"
  readonly remote_version="$(/usr/libexec/PlistBuddy -c 'print version' "${tmp_file}")"

  if [[ "${local_version}" != "${remote_version}" ]]; then
    if [[ "${workflow_type}" == 'page' ]]; then
      notification 'Opening download page…'
      open "${workflow_url}"
    else
      if url_exists "${workflow_url}"; then
        notification 'Downloading and installing…'
        curl --silent --location --output "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow" "${workflow_url}"
        open "${HOME}/Downloads/${alfred_workflow_name}.alfredworkflow"
      else
        abort "'workflow_url' (${workflow_url}) appears to not be reachable."
      fi # url_exists
    fi # workflow_type
  else
    touch "${local_info_plist}" # Reset timer by touching local file
  fi # diff
fi #find</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CE1CCA5-C5F0-485B-BB88-C230295DB203</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>berefsearch</string>
				<key>subtext</key>
				<string>Cleans up a selected referrence to send to BE's quick find</string>
				<key>text</key>
				<string>Select Citation ⇨ Bookends Quick Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>63E2A815-A08E-4E62-811D-C8F3D06D738B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript quickSearch.applescript</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE092458-F99E-459C-AFCE-73416F547908</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3582963E-329A-4FFD-933A-10C6950BC007</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>UUID="{query}"
REFNAME=$(/usr/bin/osascript &lt;&lt; EOT
tell application "Bookends"
    return «event ToySGUID» "$UUID" given «class RRTF»:"true"
end tell
EOT)
echo "$REFNAME" | pbcopy</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61E1DD47-C893-46AC-9DF4-60EF7CE1B85B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{clipboard}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EBB14C37-DC9A-447A-B292-D09CC96B8EAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript makeTempCitation.applescript $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D5390C3E-D89A-4E54-BFE3-36C24C54DF3E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>UUID="{query}"
BIBKEY=$(/usr/bin/osascript &lt;&lt; EOT
tell application "Bookends"
    return «event ToySRFLD» "$UUID" given string:"user1"
end tell
EOT)
REFNAME=$(/usr/bin/osascript &lt;&lt; EOT
tell application "Bookends"
    return «event ToySGUID» "$UUID" given «class RRTF»:"false", string:"Vancouver"
end tell
EOT)
echo "[#$BIBKEY]: $REFNAME"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42E1E519-7522-4BE7-987E-1A39E5A92C64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>bebib</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching database...</string>
				<key>script</key>
				<string>osascript findReferences.applescript "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter author name using simple search or REGEX (case insensitive)</string>
				<key>title</key>
				<string>BE search by author ⇨ Bibliography Item</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A75B2A34-0C2C-411E-AA36-103E1ADE612F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>731519D0-A085-43A8-9641-3696D9A5FFDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>UUID="{query}"
BIBKEY=$(/usr/bin/osascript &lt;&lt; EOT
tell application "Bookends"
    return «event ToySRFLD» "$UUID" given string:"user1"
end tell
EOT)
echo "[#$BIBKEY]" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>39792D22-E411-4B39-95C6-8861A7E3ACA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>911559DD-772D-466A-AC11-0B9A9A99B6F8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>becite</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching database...</string>
				<key>script</key>
				<string>osascript findReferences.applescript $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter author name using simple search or REGEX (case insensitive)</string>
				<key>title</key>
				<string>BE search author ⇨ temporary citation</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4A249976-4818-4EF5-96F1-61E2775BA9C0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>41</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>:</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3861F91A-323B-484E-BAD2-FC5CC2A3A839</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D9792099-269D-4DB6-8004-D464611EE841</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>UUID="{query}"
BIBKEY=$(/usr/bin/osascript &lt;&lt; EOT
tell application "Bookends"
    return «event ToySRFLD» "$UUID" given string:"user1"
end tell
EOT)
echo "[@$BIBKEY]" | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52554828-2EFB-4F3D-8C65-0ED49CD7E2CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>_bejstest</string>
				<key>subtext</key>
				<string>Just to test JXA, you can debug in Safari!!!</string>
				<key>text</key>
				<string>Bookends JXA Test</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5690F7FD-CDD6-4AD6-B082-4C52C84C8847</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>try in pubmed</string>
				<key>text</key>
				<string>Search Pubmed for {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>E50B449E-6EF4-448F-A5B3-152FD1FCAF09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.ncbi.nlm.nih.gov/pubmed/?term={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E977EE79-677D-4A9A-81F7-2925A1A9B442</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>osascript -l JavaScript BookendsTest.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A143F1B-B4DB-4F22-9C72-4E840C2245A0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A set of Bookends scripts to perform 8 different functions:

1. Find selected-text uniqueID in Bookends
2. Search selected-text in Bookends Pubmed browser
3. Take selected-text i.e. "(Doe et al., 2005)" citation, clean it up to "Doe 2005" and send it to Bookend's quick search.
4. Create OPML file with abstract and notes from selected Bookends refs, useful to import into Scrivener research folder etc.
5. Search Scopus with Seleced Bookends ref, append scopus and cited-by URLS to reference notes.
6. Generate BibTeX bibliography file for a particular group and all subgroups. Optionally convert to JSON as this is faster to parse.
7. Search for an author, get results list, the paste temporary citation in current app (⌘ pastes MMD style, ⌥ pastes Pandoc style).
8. Search for an author, get results list, the paste formatted reference in current app (⌘ pastes MMD style, ⌥ pastes Pandoc style).</string>
	<key>uidata</key>
	<dict>
		<key>07A0668C-9537-4BA7-8D1F-2F10DF7C8949</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>0A143F1B-B4DB-4F22-9C72-4E840C2245A0</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>20DFCB80-8C35-46DB-97E3-B7A9D7C2C372</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>Takes selected ref in Bookends and does a Scopus search, returning both ref and cited-by URLs to open. Appends the Scopus URLs to reference Notes field</string>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>22024FC1-AB07-46D9-93B3-B4F25AE9AAF8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>Takes Bookends current selection and converts to an OPML file to import into Scrivener or other software</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2E915B82-E157-429F-8DC1-F4C4518AFBF8</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>3582963E-329A-4FFD-933A-10C6950BC007</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>362D8958-5B18-4606-A04A-917C2E88A202</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Enter a group name and it will export to a BibTeX file. Configure output folder in variables (defaults to Desktop)...</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3861F91A-323B-484E-BAD2-FC5CC2A3A839</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>39792D22-E411-4B39-95C6-8861A7E3ACA3</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>42E1E519-7522-4BE7-987E-1A39E5A92C64</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4A249976-4818-4EF5-96F1-61E2775BA9C0</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Enter an author name (case insensitive) and it will return references as a list into the Alfred results dropdown. Press [⌘,⌥]enter and it will copy the temporary citation.</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>52554828-2EFB-4F3D-8C65-0ED49CD7E2CD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>5262C5A9-E597-4A30-BDB9-79D9BE9EFD26</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Copies selected text and opens it in the Bookends Pubmed browser.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5690F7FD-CDD6-4AD6-B082-4C52C84C8847</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>61E1DD47-C893-46AC-9DF4-60EF7CE1B85B</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>63E2A815-A08E-4E62-811D-C8F3D06D738B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Takes selected citation and searches for it in Bookends quick search; e.g. (Lettvin et al., 1959) becomes [Lettvin 1959]. Supports unformatted citations: {Hubel &amp; wiesel, 1962, #343}⇨[Hubel Wiesel 1962] and [@Pandoc] refs too.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>656E29E1-A513-44E5-8BB7-B1D97FC26D82</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>731519D0-A085-43A8-9641-3696D9A5FFDA</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>8753A6A9-9785-4B60-BF1D-1D759BE79C1F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Select a Bookends unique ID in a foreground app and find it via a Bookends URI open.</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>911559DD-772D-466A-AC11-0B9A9A99B6F8</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>1110</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>9A9A0A3C-2C7F-4090-B509-E425513C003F</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>1140</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9CE1CCA5-C5F0-485B-BB88-C230295DB203</key>
		<dict>
			<key>note</key>
			<string>OneUpdater</string>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>A58CE08D-D622-4B55-81C3-7D948E3CB220</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>A75B2A34-0C2C-411E-AA36-103E1ADE612F</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>note</key>
			<string>Enter an author name (case insensitive) and it will return references as a list into the Alfred results dropdown. Press [⌘,⌥]enter and it will copy the formatted reference.</string>
			<key>xpos</key>
			<integer>810</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>B14F1D3F-1FBF-4B85-87D0-9346F0BA1141</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>B186CBDB-0806-4D20-A198-2BB658E4883C</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>B425771E-97B7-4360-9C1C-B9EADC167399</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>D5390C3E-D89A-4E54-BFE3-36C24C54DF3E</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>D9792099-269D-4DB6-8004-D464611EE841</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>DF797FDD-D3A9-4FE9-871E-7A5D2DA3153B</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>E50B449E-6EF4-448F-A5B3-152FD1FCAF09</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>E977EE79-677D-4A9A-81F7-2925A1A9B442</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>EABF7A78-1D69-46C2-84DC-200A4B715A40</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EBB14C37-DC9A-447A-B292-D09CC96B8EAD</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>FE092458-F99E-459C-AFCE-73416F547908</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>BibTeXtoJSON</key>
		<string>true</string>
		<key>appendScopusNotes</key>
		<string>true</string>
		<key>exportPath</key>
		<string>Desktop/</string>
		<key>scopusKey</key>
		<string>49aa3c8cee1ffcc90be782be61ec8383</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>scopusKey</string>
	</array>
	<key>version</key>
	<string>1.0.3</string>
	<key>webaddress</key>
	<string>https://github.com/iandol/bookends-tools</string>
</dict>
</plist>
